h2{
  top: 0;
  display: block;
  position: relative;
  margin: 5rem auto;
  padding: .5rem;
  font-size: 5rem;
  line-height: 1.9rem;
  font-family: 'Times', serif;
  color: #022E57;
}
p{
  top: 0;
  display: block;
  position: relative;
  margin: 5rem auto;
  padding: .5rem;
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-family: 'Times', serif;
  color: #1785b5;
}
.container-fluid.custom-wrapper-form {
  border-radius: 5px;
  background-color: #EDFFA9;
  padding: 10px;
  width: 100%;

}
#disclaimer .right-col {
  flex-basis: 50%;
  /*text-align: right;*/
  top: 0;
  display: block;
  position: relative;
  width: 50%;
  margin: 5rem auto;
  padding: 1rem;
  font-size: 3.2rem;
  line-height: 1.9rem;
  font-family: "Roboto";
  color: #1785b5;
}
#about .bgChange{
  background-color: #FFE3E3;
}
/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
/*.dis {
  top: 0;
  display: block;
  position: relative;
  width: 50%;
  margin: 5rem auto;
  padding: .5rem;
  font-size: 2.2rem;
  line-height: 1.9rem;
  font-family: 'Times', serif;
  color: #1785b5;
}*/
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

