
{
	margin: 0;
	padding: 0   ;
	box-sizing: border-box;
	font-family: "Roboto";
}
html,body
{
	height: 100%;
	width: 100%;
}
/*----Navigation-----*/
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;

    font-family: 'Times New Roman';

}
.navbar-brand img
{
	height: 75px;
	padding-left: 30px;

}
.navbar-nav li
{

	display: inline-block;
	padding:0 10px;

}
.navbar-nav li a
{	
	font-size: larger;
	color: 	black!important;
	font-weight: bold;
	float: right;
	text-align: left;
	padding: 7px 13px;

}
#nav-bar ul li a:hover
{

	background-color: white;
	border-radius: 10px 10px 10px 10px;
	transition: .3s;
	box-shadow: 0px 0px 10px #6d6d6d;
	color: #7d0633!important;
}
#nav-bar ul li a.active
{

	background-color: white;
	border-radius: 10px 10px 10px 10px;
	color: #7d0633!important;
}
.navbar
{
	background-color: #6abdfc;
	box-shadow: 0px 0px 10px #6d6d6d;
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #555!important ;
	font-weight: 600;
	font-size: 16px;
}
/*navbar ends*/

.heroImage {
	/*background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://www.waldenu.edu/-/media/walden/images/seo-article/seo-804-bs-young-kid-pointing-at-graphic-254866480-1200x675.jpg?hash=D7110F17B54219A0DC2042AC3488721A");*/
	background-image: url(https://www.waldenu.edu/-/media/walden/images/seo-article/seo-804-bs-young-kid-pointing-at-graphic-254866480-1200x675.jpg?hash=D7110F17B54219A0DC2042AC3488721A);
	width: 100%;
    height: 100vh;
    /*width: 100%;
	height: 90%;*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

#disclaimer .right-col {
	flex-basis: 50%;
	/*text-align: right;*/
	top: 0;
	display: block;
	position: relative;
	width: 50%;
	margin: 5rem auto;
	padding: 1rem;
	font-size: 3.2rem;
	line-height: 1.9rem;
	font-family: 'Times', serif;
	color: #1785b5;
}

/*-----Review----*/
#review
{
	padding: 100px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
#review .review-left-col
{
	flex-basis: 50%;
}
#review .review-left-col img
{
	width: 90%;
	margin-left: 30px;
}
#review .review-right-col
{
	flex-basis: 50%;
	text-align: right;
}
#review .review-right-col .quote blockquote
{
	top: 0;
	display: block;
	position: relative;
	width: 50%;
	margin: 5rem auto;
	padding: .5rem;
	font-size: 2.2rem;
	line-height: 1.9rem;
	font-family: 'Times', serif;
	color: #1785b5;
}
#review .review-right-col .quote blockquote::before
{
	content: '\201c';
	top: 10px;
	right: 277px;
}
#review .review-right-col .quote blockquote::after
{
	content: '\201d';
	bottom: -30px;
}
#review .review-right-col .quote blockquote::before, blockquote::after
{
	font-size: 6rem;
	position: absolute;
}
#review .review-right-col .quote blockquote cite
{
	display: block;
	position: absolute;
	right: 20px;
	font-size: 1.2rem;
	font-style: normal;
	line-height: 1.2;
	color: #888;
	padding-left: 70px;

}
#review .review-right-col .quote blockquote cite::after
{
	display: block;
	position: absolute;
}
#review .review-right-col .submit-btn
{

	display: inline-block;
	background-image: linear-gradient(to bottom right,#46a8f3,#58b1f5, #7ed2dc, #86dbc6, #8ddebe);
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: bolder;
	margin-right: 210px;
	padding: 8px 16px;
	border-radius: 30px 30px 30px 30px;
	width: 200px;
	cursor: pointer;
	opacity: 0.7;
  transition: 0.2s;
}
#review .review-right-col .submit-btn:hover
{
	 opacity:2;
}
/*----footer---*/
.footer {
	background-color: #3a3a40;

	left: 0;
    bottom: 0;
	width: 100%;
	color: #d3d3d3;
	position: relative;
}

#footer .footer-content
{
	
	display: flexbox;
}
#footer .footer-content .footer-section
{
	flex: 1;
	padding: 25px;
}

#footer .footer-content h2, .footer .footer-content h6
{
	color: white;
}
#footer .footer-content .about h2 span
{
	color: #05f7ff;
}
#footer .footer-content .about .contact span
{
	display: block;
	font-size: 1.1em;
	margin-bottom: 5px;
}


#footer .footer-content .links ul a
{	
	color: white;
	display: block;
	margin-bottom: 5px;
	transition: all .3s;
}
#footer .footer-content .links ul a:hover
{
	color: lightblue;
	margin-left: 15px;
	transition: all .3s;
}
#footer .footer-content .sm a
{

	color: white;
	width: 50px;
	height: 41px;
	padding-top: 5px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	font-size: 1.0cm;

	border-radius: 4px;
	transition: all .3s;

}


#footer .footer-content .sm .fa-facebook-official:hover
{
	background-color: #3b5999;
	transition: all .3s;
	transform: translate(0, -10px);
}
#footer .footer-content .sm .fa-instagram:hover
{
	background-color: #e4405f;
	transform: translate(0, -10px);
	transition: all .3s;
}
#footer .footer-content .sm .fa-twitter:hover
{
	background-color: #55acee;
	transform: translate(0, -10px);
	transition: all .3s;
}
#footer .footer-content .sm .fa-youtube:hover
{
	background-color: #cd201f;
	transform: translate(0, -10px);
	transition: all .3s;
}
#footer .text-center{
    opacity: 0.2;
}
{"mode":"full","isActive":false}